.main-header {
    background-color: aqua;
    margin: 20px;
    border-bottom: 1px solid rgb(56, 11, 179);
}
header h1 a {
    text-align: center;
    text-decoration: none;
}
header h2 a {
    text-align: right;
    text-decoration: none;
}
h1.header {
    margin: 1px 40px;
    display: inline-block;
}
h1.header a {
    font-family: 'Times New Roman';
    color: rgb(4, 150, 4);
}
h2.header a {
    color: black;
}
h2.header {
    margin: 1px 40px;
    display: inline-block;
}
.contents {
    background-color: aqua;
    color: rgb(201, 15, 160);
}