{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Birinchi Portfolio</title>
    <link rel="stylesheet" href="{% static 'css/base.css'%}">
</head>
<body>
    <header class="main-header">
        <h1 class="header"><a href="{% url 'home' %}">Isomiddinov Rustam Chorshami o'g'li</a></h1>
        <h2 class="header"><a href="{% url 'post_create' %}">+ Yangi post</a></h2>
    </header>
{% if user.is_authenticated %}
    <h2>Xush kelibsiz, {{user.username}}</h2>
    <p><a href="{% url 'logout' %}">Chiqib keish</a></p>
{% else %}
    <p><a href="{% url 'login' %}">Saytga kirish</a></p>
    <p><a href="{% url 'signup' %}">Ro'yxatdan o'tish</a></p>
{% endif %}
<div class="contents">
    {% block content %}
    {% endblock content %}
</div>
</body>
</html>